*{
    margin: 0%;
    padding: 0%;
}
.maincont{
    background-color: gray;
    width: 100%;
    overflow-x: hidden;
}
.seccont{
    background-color: white;
    max-width: 96%;   
    margin: 0 auto;
}
.keeferdv{
    display: flex;
}
.logodv{
    width: 50%
}

.infodiv{
    width: 50%;
    display: flex;
}
.logodv img{
    width: 50vw;
}

.calldiv{
   margin-left: 42%;
   margin-top: 3%;
   
}
.calldiv h3{
    border-bottom: 4px solid rgb(62, 61, 61);
    color: rgb(172, 11, 11);
    font-family: sans-serif;
    font-size: 31px;
    font-weight: bolder;
    
}
.calldiv h1{
    font-family: sans-serif;
font-size: 4rem;
    font-weight: bolder;
}
.calldiv p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.bardiv{
    background-color: brown;
    
}
.homediv{
    display: flex;
    justify-content: end;
    
}
.homediv ul li a{
    text-decoration: none;
    font-size: 20px;
    padding-top: 5px;
color: white;
font-family: sans-serif;
}
ul{
    list-style: none;
    display: flex;
    margin-right: 1.7%;
    
}
li{
    padding: 20px;
    justify-content: end;
}
ul li:hover{
    background-color: gray;
}
.picdv{
    margin-top: 2.7%;
    display: flex;
    justify-content: space-around;
    
}
.leftpic img{
    height: 67vh;
    width: 50vw;
    
}
.leftpic{
    
    height: 67vh;
    width: 50vw;
    margin-left: 2%;
    margin-right: 1.5%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4)
}
.picdv{
    display: flex;
}
.righpic{
    margin-right: 2%;
    height: 67vh;
    width: 41%;
    background-image: url("./Pic/form_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4)
}

.qstndv{
    height: 6vh;
    width: 13.5vw;
    padding: 5px;
    background-color: brown;
}
.qstndv h1{
    color: white;
}
.ritqstn p{
    font-size: 1.5rem;
    font-weight: bolder;
}
.ritqstn{
    
    margin-left: 6%;
    width: 21vw;
}

.maincntn{
    display: flex;
}
.ritqstn p{
    color: black;
    font-family: sans-serif;
}
span{
    font-size: 2.4rem;
    color: rgb(5, 5, 100);
    font-weight: bolder;
}
.psentense{
    display: flex;
    justify-content: center;
    align-items: center;
}
.psentense p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
.formcont{
    
    display: flex;
    width: 38.8vw;
}
.formdv{
    text-align: end;
    margin-top: 2%;

    height: 13vh;
    width: 21vw;
    
}

.formdv label{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    
    width: 25vw;
}
.formdv input{
    height: 3.2vh;
    width:55vw;
    margin-left: 2%;
   
}
.lblone{
    display: flex ;
    justify-content: end ;
    width: 100%;
    
    align-items: center;
   margin-bottom: 2%;
}
.confidential{
    
    text-align: center;
    margin-left: 3%;
    margin-top: 5%;
}
.confidential img{

    transform: rotate(9.5deg);
    height: 8vh;
    
    
}
.formcont{
    display: flex;
}
.holderdv{
    margin-top: 4%;
    margin-left: 6%;
    width: 42.5vw;
    height: 5vh;
}
textarea{
    height: 12vh;
    width: 80%;
    resize: none;
    
}
textarea::placeholder{
    color: black;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    
}

.bglastdv{
   
    display: flex;
    margin-top: 15%;
    width: 100%;
}
.prvacy{
    margin-top: 2%;
    margin-left: 4%;
    font-size: 19px;
    font-style: italic;
    color: rgb(96, 91, 91);
}
.casebutton{
   
    margin-right: 3%;
    
}
.casebutton button{
    width: 20.5vw;
    border: none;
    height: 7vh;
    background-color: brown;
    color: white;
    font-size: 22px;
    margin-top: -1%;
    margin-left: 5.5%;
    
}
.mediacontainer{
    display: flex;
    width: 100%;
    
    margin-top: 5%;
    height: 50vh;
}
.leftdv{
   
    width: 32vw;
     
    border-right: 2px solid rgba(194, 177, 177, 0.352);
}

.leftdv span{
    font-size: 28px;
    color: red;
}
.textsec{
    margin-left: 14%;
}
.leftdv h1{
    font-size: 28px;
}

.xyz h1{
    margin-left: 25%;
    margin-bottom: 2%;
    color: rgba(128, 128, 128, 0.608);
}

.textsec P{
    margin-top: 2%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: rgb(194, 22, 22);
}
.paragraphdv p{
    color: rgba(0, 0, 0, 0.827);
    margin-top: 5%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 19.5px;
}

.paragraphdv{
    margin-left: 14%;
    
    display: flex;
}
.middv{
    width: 36vw;
    
}

.rightdv{
    width: 30vw;
    
}
.paragraphdv img{
    margin-left: 7%;
    width: 7vw;
margin-bottom: 5%;
height: 21.5vh;
}
.bttndv{
    display: flex;
    align-items: end;
    justify-content: end;
    border-top: 2px solid black;
    width: 30vh;
    margin-left: 48%;
    margin-top: 5%;
}

.bttndv button{
    border: none;
    background-color: rgb(172, 18, 18);
    color: white;
    margin-right: 12%;
   
    height: 5vh;
    width: 9.5vw;
    font-size: 18px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
    
}

.middv{
   
    border-right: 2px solid rgba(194, 177, 177, 0.352);
    
}
.lawy{
    display: flex;
    border-bottom: 2px solid rgba(194, 177, 177, 0.352);
    height: 26vh;
}


.middv span{
    color: brown;
}
.middv img{
    width: 14vw;
    height: 18vh;
    margin-left: 3%;
    margin-top: 3%;
}
.middv p{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.573);
    font-weight: bold;
}
.lawdv{
    margin-left: 5%;
    
}
.lawdv h1{
    font-size: 28px;
}
.lawdv span{
    font-size: 28px;
}
.lawdv p{
    font-size: 19px;
}
.lawbttn{
    border-top: 2px solid black;
    width: 16vw;
    margin-top: 15%;
    
}
.lawbttn button{
    background-color: brown;
    color: rgb(255, 255, 255);
    height: 5vh;
    width: 9.5vw;
    font-size: 18px;
    border: none;
    margin-left: 26%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
}
.dwncont{
    display: flex;
}

.dwndv{
    margin-left: 5.5%;
}
.dwndv p{
    font-size: 19px;
}
.lawbutton button{
background-color: brown;
    color: rgb(255, 255, 255);
    height: 5vh;
    width: 9.5vw;
    font-size: 18px;
    /* margin-top: 2%; */
    margin-left: 26%;
    border: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
}
.dwncont img{
    width: 13vw;
}
.lawbutton{
    width: 15vw;
    margin-top: 12%;
    border-top: 2px solid black;
}

.rightpics{
    display: flex;
    
}
.rightpics{
    margin-top: 3%;
    margin-left: 12%;
}
.image1 img{
    
width: 10vw;
height: 18vh;
}
.image2 img{
    margin-left: 18%;
width: 9vw;
height: 18vh;
}
.CCdv{
    margin-top: 3%;
    margin-left: 5%;
}
.CCdv h1{
    font-size: 28px;
}
.CCdv span{
    color: brown;
    font-size: 28px;
}

.shadowpic{
    margin-top: 5%;
}

.paragraphright{
    margin-left: 6%;
    margin-top: 6%;
}
.paragraphright p{
    font-family: sans-serif;
    font-size: 19px;
    color: rgb(76, 72, 72);
    font-weight: bold;
}
.ritbtn{
width: 15vw;
    margin-top: 4%;
    border-top: 2px solid black;
    margin-left: 27%;
}
.ritbtn button{
background-color: brown;
    color: rgb(255, 255, 255);
    height: 5vh;
    width: 10vw;
    font-size: 18px;
    margin-left: 26%;
    border: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
}
.shadowpic{
    width: 100%;
}
.shadowpic img{
    width: 100%;
    height: 1.5vh;
}


.lastcontainer{
    margin-top: 3%;
    display: flex;
}
.lefttdiv{
    margin-left: 3%;
}

.lefttdiv h2{
    font-size: 28px;
}

.lefttdiv span{
    font-size: 28px;
    color: brown;
}

.greydiv{
    margin-left: 3.5%;
    width: 19vw;
    display: flex;
    margin-top: 5%;
    margin-bottom: 7%;
    height: 11vh;
    
    background-color: rgba(109, 107, 107, 0.899);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)

}
.greydiv img{
    height: 11vh;
    width: 1vw;
}
.greydiv h2{
    font-family: sans-serif;
    color: white;
    margin-left: 4%;
    margin-top: 2%;
font-size: 23px;
}

.greyhb{
    width: 22vw;
    height: 28vh;

}
.greyhb button{
    background-color: rgba(123, 120, 120, 0.899);
    margin-top: 2%;
    margin-left: 50%;
font-size: 15px;
border: none;
color: white;
font-weight: bold;

}
.greyhb span{
    font-size: 15px;
}

.bigheading{
    width: 51vw;
    margin-left: 7%;
    
}
.midparagraph{
    margin-top: 3%;
}
.midparagraph p{
    font-family: sans-serif;
    margin-bottom: 1.5%;
}
.lasttdiv{
   
    width: 20vw;
    
}
.cmbineitems{
    margin-left: 2%;
}
.clientsdv h1{
font-size: 26px;
margin-left: 18%;
}
.clientsdv span{
    
    font-size: 26px;
    color: brown;
}
.clientp p{
    margin-left: 18%;
    font-size: 19.8px;
    font-family: sans-serif;
    font-weight: 80%;
    margin-top: 4%;
}
.clientbutton button{
    background-color: brown;
    color: rgb(255, 255, 255);
    height: 4vh;
    width: 8vw;
    font-size: 14px;
  margin-bottom: 18%;
    margin-left: 30%;
    border: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
}
.clientbutton{
    
    width: 13vw;
    margin-top: 4%;
    margin-left: 16%;
    border-top: 2px solid black;
}
.learnmoreabout{
    margin-left: 1%;
    margin-top: 20%;
    width: 20vw;
    
}
.learnmoreabout h1{
    font-size: 26px;
    margin-bottom: 30%;
}
.learnmoreabout span{
    font-size: 26px;
}
.xyz{
    margin-left: 10%;
}
.xyz h1{
    font-family: sans-serif;
}
.bluepic{
    margin-left: 25%;
}
.bluepic img{
    height: 23vh;
    width: 13vw;
}
.blackpic{
    margin-left: 30%;
}
.blackpic img{
    height: 23vh;
    width: 11vw;
    margin-top: 12%;
}
.follow{
   
    width: 15vw;
    margin-left: 17%;
    
}
.fllwus{
    margin-top: 17%;
    margin-left: 18%;
    
}
.fllwus h1{
    font-size: 28px;
font-weight: bolder;
}
.fllwus span{
    font-size: 28px;
    color: brown;
}
.socialmedia{
    display: flex;
    margin-top: 3%;
    margin-left: 19%;
    
}
.sm1 img{
    width: 3vw;
    margin: 5px;
} 